
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Let Tailwind handle base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

.prose img {
  border-radius: 0.5rem;
}
